.mypy_cache
__pycache__
*.pyc
.vscode
setup.*
*.md
Dockerfile*
.devcontainer
.github*
.pytest_cache*
.stack_prod*
.pre-commit.*
.docker-compose-*
.docker-compose.*
LICENSE
makefile
requirements*
setup.*
.coverage
