# directories
.devcontainer
.github*
.pytest_cache*
.vscode
.mypy_cache
.stack_prod*
*.egg-info

#files
.coverage
.gitignore
.pre-commit.*
docker-compose*
Dockerfile*
LICENSE
makefile
requirements-*
setup.*

__pycache__
*.pyc
*.md
