bandit==1.7.4
# linting, formating, typing
black==22.1.0
# black formatting for jupyter notebooks
black-nb==0.7
darglint==1.8.1
flake8==4.0.1
isort==5.10.1
mypy==0.941
# requirements writing
pipreqs==0.4.11
# precommit action
pre-commit==2.17.0
# unit tests
pytest==7.1.1
pytest-cov==3.0.0
pytest-github-actions-annotate-failures==0.1.6
pytest-xdist==2.5.0
# code quality infos
radon==5.1.0
# refactoring
rope==0.23.0
wemake-python-styleguide==0.16.1
